/* styles/contacto.css */
.contacto-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
  }
  
  .contacto-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contacto-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
  }
  
  .contacto-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .info-item {
    text-align: left;
    margin: 15px;
    flex: 1 1 300px; /* Ajusta según sea necesario */
  }

  .info-item a:hover{
    color: #3498db;
    font-weight: bold;
  }
  
  .info-item span {
    color: #3498db;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .info-item p {
    color: #555;
  }
  
  /* Agrega estilos para el formulario si decides agregarlo */
  
  /* Consulta de medios para dispositivos móviles */
  @media only screen and (max-width: 600px) {
    .contacto-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
      }
  
    .info-item {
      width: 100%;
    }
  }
  