/* Inicio.css */

.inicio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.inicio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a; /* Fondo más oscuro para resaltar el texto */
  z-index: -1;
}

.inicio h1,
.inicio p {
  z-index: 1;
  text-align: center;
  color: #ffffff; /* Color del texto en amarillo brillante */
}

.inicio h1 {
  font-size: 5vw;
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 2em;
  margin-right: 2em;
  font-family: 'Pacifico', cursive; /* Fuente llamativa */
}

.inicio p {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif; /* Fuente moderna y limpia */
  margin-left: 2em;
  margin-right: 2em;
}

/* Agrega algún tipo de animación a los párrafos para mayor interactividad */
.inicio p:hover {
  color: #149ddd; /* Cambia el color al pasar el mouse */
  transition: color 0.3s ease-in-out;
}

/* Ajusta el tamaño del texto base para dispositivos móviles */
@media screen and (max-width: 768px) {
  .inicio h1 {
    margin-top: -2em;
    font-size: 50px;
  }

  .inicio p {
    font-size: 25px;
  }
}
